h1 {
  color: whitesmoke;

}

p {
  color: rgb(15, 14, 14);
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
}

.bg-personal {
  background-image: url(../img/h_img.jpg);
  height: 100vh;
  background-size: cover;
}

.bg-personal2 {
  background-image: url(../img/s_image.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}
.bg-personal2 p{
  color: white; 
  text-shadow: 1px 1px black;
}

#center-objects {
  padding-top: 200px;
}

#top-objects {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

#image1 {
  height: 200px;
  width: 200px;
}

#image2 {
  height: 200px;
  width: 200px;
}

#image3 {
  height: 200px;
  width: 200px;
}

#image4 {
  height: 200px;
  width: 200px;
}

#image5 {
  height: 200px;
  width: 200px;
}

#image6 {
  height: 200px;
  width: 200px;
}

#image7 {
  height: 200px;
  width: 200px;
}

#image8 {
  height: 200px;
  width: 200px;
}

.bg-personal3 {
  background-image: url(../img/c_image.jpg);
  height: 100vh;
  background-size: cover;
}

#for input {
  background: transparent;
}

#for textarea {
  background: transparent;
}

#trans {
  background: transparent;
}

#designdescription {
  display: none;
}

#devdescription {
  display: none;
}

#productdescription {
  display: none;
}

.caption {
  display: none;
  position: absolute;
  top: 45%;
  left: 40%;
  /* padding-left: 70px; */
  background-color: white;
}

.caption p {
  padding: 15px 20px;
}

#work8 {
  position: relative;
}

#work7 {
  position: relative;
}

#work6 {
  position: relative;
}

#work5 {
  position: relative;
}

#work4 {
  position: relative;
}

#work3 {
  position: relative;
}

#work2 {
  position: relative;
}

#work1 {
  position: relative;
}